<VirtualHost *:80>

    ServerAdmin admin@100.25.219.90

    ServerName 100.25.219.90

    DocumentRoot {{ document_root }}

    <Directory /var/www/laravel-realworld-example-app>

    Options Indexes FollowSymLinks MultiViews

    AllowOverride ALl

    allow from all

    Require all granted

    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

